/* Media */
@media (max-width: 1030px) {
    html {
        font-size: 58.5%;
    }
    p {
        font-size: 1.5rem;
    }
    #title {
        text-align: center;
    }
    .title_image {
        transform: rotate(0deg);
        position: static;
        margin: 10% auto 4%;
        display: block;
        width: 40%;
    }
    .tiitle_text {
        padding-top: 3%;
    }
    .navbar-nav {
        background: var(--color-dark-white);
        border-radius: 2rem;
        margin-top: 3%;
        padding: 5%;
    }
    .navbar-brand {
        font-size: 4rem;
    }
    .nav-link {
        color: var(--color-black);
        font-weight: 600;
        margin: 0.5rem 0;
        font-size: 3rem;
    }
    .navbar_toggle_icon {
        color: var(--color-white);
        font-size: 4rem;
    }
    button:focus {
        outline: none;
    }
    .testimonial_heading {
        font-size: 4rem;
    } 
    .navbar-toggler {
        border: none;
    }
}