* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-primary: #ff4c68;
    --color-secondary: #ef8172;
    --color-black: #000;
    --color-white: #fff;
    --color-dark-white: #eee;
    --para-color: #8f8f8f;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1 {
    font-size: 5.2rem;
    line-height: 1.5;
    font-weight: 800;
}
h3 {
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--color-black);
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: var(--para-color);
}
/* container  */
.container-fluid {
    padding: 7% 15%;
}

/* section */
.colored_section {
    background: var(--color-primary);
    color: var(--color-white);
}

.white_section {
    background-color: var(--color-white);
    color: var(--color-black);
}

/* Title area  */
#title {
    text-align: left;
    color: var();
}
#title .container-fluid {
    padding: 3% 15% 7%;
}
.title_btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

/* Navigation Bar  */
.navbar {
    padding: 0 0 6.5rem;
}
.navbar-brand {
    color: var(--color-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
}
.navbar-brand:hover {
    color: var(--color-white);
}
.nav-item {
    margin: 0 1.8rem;
}
.nav-link {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--color-dark-white);
}
.nav-link:hover{
    color: var(--color-white);
}

/* Title Download Buttons */
.download_btn {
    margin: 5% 3% 5% 0;
}

/* Title image  */
.title_image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 28%;
}

/* Features */
#features {
    position: relative;
    z-index: 111;
}

.feature_box {
    padding: 5%;
}
.feature_icon {
    color: var(--color-secondary);
    margin-bottom: 1.5rem;
}
.feature_icon:hover {
    color: var(--color-primary);
}

/* Testimonials */
#testimonials {
    background: var(--color-secondary);
}
.testimonial_heading {
    font-size: 4.8rem;
    line-height: 1.5;
    font-weight: 800;
    color: var(--color-white);
} 
.testimonial_img {
    width: 10%;
    border-radius: 50%;
    margin: 2rem;
}
#testimonials em {
    font-size: 1.4rem;
    color: var(--color-white);
    line-height: 1.5;
}

/* Press */
#press {
    background: var(--color-secondary);
    padding-bottom: 3%;
}
.press_img {
    width: 15%;
    margin: 1rem 2rem 5rem;
}
.card-body p {
    margin: 2% 0;
}

/* Pricing */
#pricing {
    padding: 7% 5%;
}
#pricing h2{
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 1.5;
}
.pricing_col {
    padding: 3% 2%;
}
.pricing_btn {
    font-size: 1.8rem;
}

/* Call to action area  */
.cta_heading {
    font-size: 4.8rem;
    color: var(--color-white);
    padding: 0 10%;
    line-height: 1.5;
}

/* footer */
.footer_social_icon {
    margin: 2.5rem 0.4rem;
    font-size: 1.4rem;
    display: inline-block;
    background: var(--color-black);
    padding: 1rem;
    border-radius: 50%;
    color: var(--color-white);
    cursor: pointer;
}
.footer_social_icon:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transition: 0.3s ease-in-out;
}
